{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'label': 'خانه', 'url': path('app_home')},
        {'label': 'داشبورد', 'url': path('app_panel')},
        {'label': 'خدمات', 'url': path('app_service_index')},
        {'label': 'ویرایش کردن خدمات'},
    ] %}
    {% set title = 'ویرایش خدمات' %}
    
    {{ parent() }} {# This ensures the breadcrumbs are rendered in the base template #}
{% endblock %}
{% block title %}ویرایش {{ service.title }}{% endblock %}
{% block jshead %}

<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>

{% endblock %}
{% block js %}
    <script>
        CKEDITOR.replace( 'editor1',{
        language: 'fa'

        } );
    </script>
        <script>
        $(document).ready(function() {
            $('.DroidNaskh').select2({
                placeholder: "Select or add fruits",
                allowClear: true,
                tags: true
            });
        });
    </script>
{% endblock %}
{% block body %}
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Post-->
            <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                            <!--begin::Form-->
                                {{ form_start(form, {'attr': {'id': 'kt_ecommerce_add_product_form', 'enctype': 'multipart/form-data','class': 'd-flex flex-column flex-lg-row'}}) }}


                                    <!--begin::کناری column-->
                                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                                            <!--begin::Thumbnail settings-->
                                            <div class="card card-flush py-4">
                                                    <!--begin::کارت header-->
                                                    <div class="card-header">
                                                            <!--begin::کارت title-->
                                                            <div class="card-title">
                                                                    <h2>تصویر شاخص</h2>
                                                            </div>
                                                            <!--end::کارت title-->
                                                    </div>
                                                    <!--end::کارت header-->
                                                    <!--begin::کارت body-->
                                                    <div class="card-body text-center pt-0">
                                                            <!--begin::Image input-->
                                                            <!--begin::Image input placeholder-->{% set img = service.Image is not null ? service.Image.path ~ '/85x85_' ~ service.Image.name ~ '.webp' : 'a' %}
                                                            <style>.image-input-placeholder { background-image: url({{ asset(img) }}); }  [data-bs-theme="dark"] .image-input-placeholder { background-image: url({{ asset(img) }}); }</style>
                                                            <!--end::Image input placeholder-->
                                                            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                                                                    <!--begin::نمایش existing avatar-->
                                                                    <div class="image-input-wrapper w-150px h-150px"></div>
                                                                    <!--end::نمایش existing avatar-->
                                                                    <!--begin::Tags-->
                                                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="تعویض آواتار">
                                                                            <i class="ki-duotone ki-pencil fs-7">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                            <!--begin::Inputs-->
                                                                            <input type="file" name="file" accept=".png, .jpg, .jpeg" />
                                                                            <input type="hidden" name="avatar_remove" />
                                                                            <!--end::Inputs-->
                                                                    </label>
                                                                    <!--end::Tags-->
                                                                    <!--begin::انصراف-->
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="انصراف avatar">
                                                                            <i class="ki-duotone ki-cross fs-2">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                    </span>
                                                                    <!--end::انصراف-->
                                                                    <!--begin::حذف-->
                                                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="حذف آواتار">
                                                                            <i class="ki-duotone ki-cross fs-2">
                                                                                    <span class="path1"></span>
                                                                                    <span class="path2"></span>
                                                                            </i>
                                                                    </span>
                                                                    <!--end::حذف-->
                                                            </div>
                                                            <!--end::Image input-->
                                                            <!--begin::توضیحات-->
                                                            <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                                                            <!--end::توضیحات-->
                                                    </div>
                                                    <!--end::کارت body-->
                                            </div>
                                            <!--end::Thumbnail settings-->
                                            <!--begin::دسته بندی & tags-->
                                            <div class="card card-flush py-4">
                                                    <!--begin::کارت header-->
                                                    <div class="card-header">
                                                            <!--begin::کارت title-->
                                                            <div class="card-title">
                                                                    <h2>جزییات مقاله</h2>
                                                            </div>
                                                            <!--end::کارت title-->
                                                    </div>
                                                    <!--end::کارت header-->
                                                    <!--begin::کارت body-->
                                                    <div class="card-body pt-0">
                                                            <!--begin::Input group-->
                                                            <!--begin::Input group-->
                                                            <label class="form-label">زیر مجموعه</label>
                                                            {{ form_widget(form.parent, {'attr': {'class': 'form-select mb-2', 'data-control': 'select2', 'data-placeholder': 'انتخاب زیر مجموعه'}}) }}
                                                            <!--begin::Input group-->
                                                            <!--begin::Tags-->
                                                            <label class="form-label d-block">متا توضیحات</label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <textarea name="metadesc" class="form-control mb-2">{{ service.metadesc }}</textarea>
                                                            <!--end::Input-->
                                                            <!--begin::توضیحات-->
                                                            <div class="text-muted fs-7">افزودن متا توضیحات</div>
                                                            <!--end::توضیحات-->
                                                            <!--end::Input group-->
                                                            <!--begin::Input group-->
                                                            <div class="form-group col-md-12">
                                                                <label class="form-label d-block pt-10">متا کلمات کلیدی</label>
                                                                <select name="keywords[]" class="DroidNaskh form-control mb-2" multiple data-role="tagsinput">
                                                                    {% for barchasb in service.Barchasbs %}
                                                                        <option value="{{ barchasb.title }}"
                                                                            {% if service.barchasbs.contains(barchasb) %} selected {% endif %}>
                                                                            {{ barchasb.title }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="text-muted fs-7">
                                                                ﮐﻠﻤﺎﺕ ﮐﻠﯿﺪﯼ ﺭا ﺑﺎ اﯾﻨﺘﺮ اﺯ ﻫﻢ ﺟﺪا ﮐﻨﯿﺪ
                                                                ﺣﺪاﮐﺜﺮ
                                                                5
                                                                ﮐﻠﻤﻪ ﻭاﺭﺩ ﻧﻤﺎﺋﯿﺪ
                                                            </div>
                                                            <!--end::توضیحات-->
                                                            <!--end::Input group-->
                                                    </div>
                                                    <!--end::کارت body-->
                                            </div>
                                            <!--end::دسته بندی & tags-->
                                    </div>
                                    <!--end::کناری column-->
                                    <!--begin::اصلی column-->
                                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                            <!--begin::Tab content-->
                                            <div class="tab-content">
                                                    <!--begin::Tab pane-->
                                                    <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                                                            <div class="d-flex flex-column gap-7 gap-lg-10">
                                                                    <!--begin::عمومی options-->
                                                                    <div class="card card-flush py-4">
                                                                            <!--begin::کارت body-->
                                                                            <div class="card-body pt-0">
                                                                                    <!--begin::Input group-->
                                                                                    <div class="mb-10 fv-row">
                                                                                            <!--begin::Tags-->
                                                                                            <label class="required form-label">عنوان مقاله</label>
                                                                                            <!--end::Tags-->
                                                                                            <!--begin::Input-->
                                                                                            <input type="text" name="title" class="form-control mb-2" placeholder="نام مقاله" value="{{ service.title }}" />
                                                                                            <!--end::Input-->
                                                                                            <!--begin::توضیحات-->
                                                                                            <div class="text-muted fs-7">نام مقاله مورد نیاز است و توصیه می شود منحصر به فرد باشد.</div>
                                                                                            <!--end::توضیحات-->
                                                                                    </div>
                                                                                    <!--end::Input group-->
                                                                                    <!--begin::Input group-->
                                                                                    <div>
                                                                                            <!--begin::Tags-->
                                                                                            <label class="form-label">توضیحات</label>
                                                                                            <!--end::Tags-->
                                                                                            <!--begin::or-->
                                                                                            <div id="kt_ecommerce_add_product_description" name="kt_ecommerce_add_product_description" class="min-h-200px mb-2">
                                                                                                <textarea id="editor1" name="text">{{ service.text }}</textarea>
                                                                                            </div>
                                                                                            <!--end::or-->
                                                                                            <!--begin::توضیحات-->
                                                                                            <div class="text-muted fs-7">برای دید بهتر، توضیحاتی را برای مقاله تنظیم کنید.</div>
                                                                                            <!--end::توضیحات-->
                                                                                    </div>
                                                                                    <!--end::Input group-->
                                                                            </div>
                                                                            <!--end::کارت header-->
                                                                    </div>
                                                                    <!--end::عمومی options-->
                                                                    <!--begin::قیمت گذاری-->
                                                                    <div class="card card-flush py-4">
                                                                            <!--begin::کارت header-->
                                                                            <div class="card-header">
                                                                                    <div class="card-title">
                                                                                            <h2>لینک</h2>
                                                                                    </div>
                                                                            </div>
                                                                            <!--end::کارت header-->
                                                                            <!--begin::کارت body-->
                                                                            <div class="card-body pt-0">
                                                                                    <!--begin::Input group-->
                                                                                    <div class="mb-10 fv-row">
                                                                                            <!--begin::Tags-->
                                                                                            <label class="required form-label">لینک مقاله</label>
                                                                                            <!--end::Tags-->
                                                                                            <!--begin::Input-->
                                                                                            <input type="text" name="url" class="form-control mb-2" placeholder="لینک را وارد کنید" value="{{ service.url }}" />
                                                                                            <!--end::Input-->
                                                                                            <!--begin::توضیحات-->
                                                                                            <div class="text-muted fs-7">لینک مقاله باید منحصر به فرد باشد</div>
                                                                                            <!--end::توضیحات-->
                                                                                    </div>
                                                                                    <!--end::Input group-->
                                                                            </div>
                                                                            <!--end::کارت header-->
                                                                    </div>
                                                                    <!--end::قیمت گذاری-->
                                                            </div>
                                                    </div>
                                                    <!--end::Tab pane-->
                                            </div>
                                            <!--end::Tab content-->
                                            <div class="d-flex justify-content-end">
                                                    <!--begin::Button-->
                                                    <a href="{{ path('app_service_index') }}" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">انصراف</a>
                                                    <!--end::Button-->
                                                    <!--begin::Button-->
                                                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                                                            <span class="indicator-label">ذخیره تغییرات</span>
                                                            <span class="indicator-progress">لطفا صبر کنید...
                                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                    </button>
                                                    <!--end::Button-->
                                            </div>
                                    </div>
                                    <!--end::اصلی column-->
                                    {{ form_end(form) }}

                            <!--end::Form-->
                    </div>
                    <!--end::Container-->
            </div>
            <!--end::Post-->
    </div>
    <!--end::Content-->

    <a href="{{ path('app_service_index') }}">back to list</a>
{% endblock %}