{% extends "base.front.twig" %}
{% block body %}
<div class="page-title-wrap">
    <div class="page-title-area title-img-one">
        <div class="title-shape">
            <img src="{{ asset('front/assets/images/title/title-shape1.png')}}" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2>درباره من</h2>
                    <ul>
                        <li>
                            <a href="{{ path('app_home') }}">خانه</a>
                        </li>
                        <li>
                            <span>درباره من</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="know-area four pt-100 pb-70">
    <div class="know-shape">
        <img src="{{ asset('front/assets/images/know/know-shape2.png')}}" alt="شکل">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="know-img">
                    <img src="{{ asset('front/assets/images/know/know-bg1.jpg')}}" alt="درباره ما">
                    <img src="{{ asset('front/assets/images/know/know-shape5.png')}}" alt="شکل">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="know-content">
                    <div class="section-title">
                        <h2>بیشتر درباره ما بدانید</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                    <ul>
                        <li>
                            <img src="{{ asset('front/assets/images/know/know-icon1.png')}}" alt="درباره ما">
                            <h3>شرکت برنده جایزه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است.</p>
                        </li>
                        <li>
                            <img src="{{ asset('front/assets/images/know/know-icon2.png')}}" alt="درباره ما">
                            <h3>بیش از ۱۵ سال تجربه</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است.</p>
                        </li>
                        <li>
                            <img src="{{ asset('front/assets/images/know/know-icon3.png')}}" alt="درباره ما">
                            <h3>ارائه‌دهنده برتر خدمات زیبایی</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است.</p>
                        </li>
                    </ul>
                    <a class="common-btn two" href="about.html">درباره ما</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="skin-area two pt-100 pb-70">
    <div class="skin-shape">
        <img src="{{ asset('front/assets/images/skin-shape2.png')}}" alt="شکل">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="skin-content">
                    <div class="section-title">
                        <h2>محصولات جدید مراقبت از پوست ما برای شما</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                    <a class="common-btn two" href="shop.html">خرید کنید</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skin-img">
                    <img src="{{ asset('front/assets/images/skin-main.jpg')}}" alt="مراقبت از پوست">
                    <img src="{{ asset('front/assets/images/skin-shape1.png')}}" alt="شکل">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
