{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{{ reservation.cdate ? reservation.cdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{{ reservation.udate ? reservation.udate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ reservation.published }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reservation.type }}</td>
            </tr>
            <tr>
                <th>Remove</th>
                <td>{{ reservation.remove }}</td>
            </tr>
            <tr>
                <th>ReservationDateTime</th>
                <td>{{ reservation.reservationDateTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
