<!--begin::کناری Toolbarl-->
<div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
        <!--begin::کناری user-->
        <!--begin::user-->
        <div class="aside-user d-flex align-items-sm-center justify-content-center py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px">
                        <img src="https://metronictheme.job100.ir/rtl/metronic8/demo8/dist/assets/media/avatars/300-1.jpg" alt="" />
                </div>
                <!--end::Symbol-->
                <!--begin::Wrapper-->
                <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                        <!--begin::Section-->
                        <div class="d-flex">
                                <!--begin::Info-->
                                <div class="flex-grow-1 me-2">
                                    <!--begin::کاربرname-->
                                    <span class="text-white text-hover-primary fs-6 fw-bold">{{ app.user.fullname }}</span>
                                    <!--end::کاربرname-->
                                    <!--begin::توضیحات-->
                                    <span class="text-gray-600 fw-semibold d-block fs-8 mb-1">پرسونل: {{ app.user.service.title }}</span>
                                    <!--end::توضیحات-->
                                </div>
                                <!--end::Info-->
                                <!--begin::کاربر menu-->
                                <div class="me-n2">
                                        <!--begin::Actions-->
                                        <a href="index.html#" class="btn btn-icon btn-sm btn-active-color-primary mt-n2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
                                                <i class="ki-duotone ki-setting-2 text-muted fs-1">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                </i>
                                        </a>
                                        <!--begin::کاربر account menu-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                        <div class="menu-content d-flex align-items-center px-3">
                                                                <!--begin::Avatar-->
                                                                <div class="symbol symbol-50px me-5">
                                                                        <img alt="Logo" src="{% if app.user.image is not null %}{{ asset(app.user.image.path ~'/'~app.user.image.name) }}{% else %}{{ asset('panel/assets/media/images/not-found.png') }} {% endif %}" />
                                                                </div>
                                                                <!--end::Avatar-->
                                                                <div class="menu-item px-5">
                                                                        <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="menu-link px-5">پروفایل من</a>
                                                                </div>
                                                        </div>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu separator-->
                                                <div class="separator my-2"></div>
                                                <!--end::Menu separator-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-5">
                                                        <a href="{{ path('app_logout') }}" class="menu-link px-5">خروج</a>
                                                </div>
                                                <!--end::Menu item-->
                                        </div>
                                        <!--end::کاربر account menu-->
                                        <!--end::Actions-->
                                </div>
                                <!--end::کاربر menu-->
                        </div>
                        <!--end::Section-->
                </div>
                <!--end::Wrapper-->
        </div>
        <!--end::user-->
        <!--end::کناری user-->
</div>
<!--end::کناری Toolbarl-->
<!--begin::کناری menu-->
<div class="aside-menu flex-column-fluid">
        <!--begin::کناری Menu-->
        <div class="hover-scroll-overlay-y mx-3 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="5px">
                <!--begin::Menu-->
                <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                        <!--begin:Menu item-->
                        <div class="menu-item pt-5">
                            <!--begin:Menu content-->
                            <div class="menu-content">
                                    <span class="menu-heading fw-bold text-uppercase fs-7">صفحات</span>
                            </div>
                            <!--end:Menu content-->
                        </div>
                        <!--end:Menu item-->
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="{{ path('app_work_schedule_index') }}">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <h3 class="menu-title">زمان کاری من</h3>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="{{ path('app_article_new') }}">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <h3 class="menu-title">زمان های رزرو شده</h3>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="{{ path('app_article_new') }}">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <h3 class="menu-title">من کیستم؟</h3>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="{{ path('app_article_new') }}">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <h3 class="menu-title">خروج از حساب کاربری</h3>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                        </div>
                        <!--end:Menu item-->
                </div>
                <!--end::Menu-->
        </div>
        <!--end::کناری Menu-->
</div>
<!--end::کناری menu-->
<!--begin::Footer-->
<div class="aside-footer flex-column-auto py-5" id="kt_aside_footer">
        <a href="https://preview.keenthemes.com/html/metronic/docs" class="btn btn-flex btn-custom btn-primary w-100" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="200+ in-house کامپوننت ها and 3rd-party plugins">
                <span class="btn-label">اسناد و کامپوننت ها</span>
                <i class="ki-duotone ki-document ms-2 fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                </i>
        </a>
</div>
<!--end::Footer-->