<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('front/assets/css/bootstrap.rtl.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/boxicons.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/meanmenu.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/animate.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/owl.carousel.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/owl.theme.default.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/modal-video.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/odometer.min.css' )}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/settings.css' )}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/layers.css' )}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/navigation.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/nice-select.min.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/style.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/responsive.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/theme-dark.css' )}}">
        <link rel="stylesheet" href="{{ asset('front/assets/css/rtl.css' )}}">

        <title>Jeel - Beauty Saloon & Wellness Center HTML Template</title>
        <link rel="icon" type="image/png')}}" href="{{ asset('front/assets/images/favicon.png')}}">
    </head>
    <body>

    <div class="loader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-3 col-lg-3">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" target="_blank">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <div class="right">
                        <ul>
                            <li>
                                <i class="bx bx-mail-send"></i>
                                <span>Mail Us:</span>
                                <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#c7afa2ababa887ada2a2abe9a4a8aa"><span class="__cf_email__" data-cfemail="e9818c858586a9838c8c85c78a8684">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <span>Call Now:</span>
                                <a href="tel:9905324936">990-532-4936</a>
                            </li>
                            <li>
                            <select>
                                <option>English</option>
                                <option>العربيّة</option>
                                <option>Deutsch</option>
                                <option>Português</option>
                            </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-area sticky-top">

        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="{{ asset('front/assets/images/logo.png')}}" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{ asset('front/assets/images/logo.png')}}" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="index.html#" class="nav-link dropdown-toggle active">HOME <i class="bx bx-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link active">Home Demo One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Demo Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Demo Three (Revolution)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-4.html" class="nav-link">Home Demo Four</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#" class="nav-link dropdown-toggle">PAGES <i class="bx bx-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html#" class="nav-link dropdown-toggle">Users <i class="bx bx-plus"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="sign-in.html" class="nav-link">Sign In</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="sign-up.html" class="nav-link">Sign Up</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="appointment.html" class="nav-link">Appointment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="gift-card.html" class="nav-link">Gift Card</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">404 Error Page</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#" class="nav-link dropdown-toggle">SERVICES <i class="bx bx-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-details.html" class="nav-link">Service Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#" class="nav-link dropdown-toggle">BLOG <i class="bx bx-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog.html" class="nav-link">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#" class="nav-link dropdown-toggle">SHOP <i class="bx bx-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="shop.html" class="nav-link">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="wishlist.html" class="nav-link">Wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="single-product.html" class="nav-link">Single Product</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">CONTACT</a>
                            </li>
                        </ul>
                        <div class="side-nav">
                            <div class="nav-search">
                                <i id="search-btn" class="bx bx-search-alt"></i>
                                <div id="search-overlay" class="block">
                                    <div class="centered">
                                        <div id="search-box">
                                            <i id="close-btn" class="bx bx-x"></i>
                                            <form>
                                                <input type="text" class="form-control" placeholder="Search..." />
                                                <button type="submit" class="btn">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="cart" href="cart.html">
                                <i class="bx bx-cart"></i>
                                <span>1</span>
                            </a>
                            <a class="common-btn nav-btn" href="index.html#">BOOK NOW</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% block breadcrumbs %}
        {% if breadcrumbs is defined %}
{#            <section class="page-title">
                <div class="auto-container clearfix">
                    <h1>{{ title }}</h1>
                    <ul class="bread-crumb clearfix">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="">
                                {% if not loop.last %}
                                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.label|raw }}</a>
                                {% else %}
                                    {{ breadcrumb.label|raw }}
                                {% endif %}
                            </li>
                        {% endfor %}                        
                    </ul>
                </div>
            </section>#}
            <div class="page-title-wrap">
                <div class="page-title-area title-img-two">
                    <div class="title-shape">
                        <img src="assets/images/title/title-shape1.png" alt="Shape">
                    </div>
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="title-content">
                                <h2>{{ title }}</h2>
                                <ul>
                                    {% for breadcrumb in breadcrumbs %}
                                        <li class="">
                                            {% if not loop.last %}
                                                <a href="{{ breadcrumb.url }}">{{ breadcrumb.label|raw }}</a>
                                            {% else %}
                                                {{ breadcrumb.label|raw }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        {% endif %}
    {% endblock %}
    {% block body %}
        <div class="banner-area banner-img-one">
            <div class="banner-shape">
                <img src="{{ asset('front/assets/images/banner/banner-shape1.png')}}" alt="Shape">
                <img src="{{ asset('front/assets/images/banner/banner-shape2.png')}}" alt="Shape">
                <img src="{{ asset('front/assets/images/banner/banner-shape3.png')}}" alt="Shape">
                <img src="{{ asset('front/assets/images/banner/banner-shape4.png')}}" alt="Shape">
                <img src="{{ asset('front/assets/images/banner/banner-shape5.png')}}" alt="Shape">
            </div>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="banner-content">
                            <h1 class="wow fadeInUp">Get The Heaven Of Beauty</h1>
                            <div class="banner-btn-area">
                                <a class="common-btn" href="services.html">Our Services</a>
                                <a class="common-btn banner-btn" href="about.html">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="offer-area ptb-100">
            <div class="offer-shape">
                <img src="{{ asset('front/assets/images/offer/offer-shape1.png')}}" alt="Shape">
            </div>
            <div class="container">
                <div class="section-title">
                    <h2>پیشنهادات ما</h2>
                </div>
                <div class="offer-slider owl-theme owl-carousel">
                    {% for item in findEntitiesWithCriteria('App\\Entity\\Article', null, {'published': '1','type' : '2'},'id', 'ASC') %}
                        <div class="offer-item">
                            <img src="{{ item.Image.path ~ '/770x350_' ~ item.Image.name ~ '.webp' }}" alt="Offer">
                            <div class="inner">
                                <div class="d-table">
                                    <div class="d-table-cell">
                                        <h4>{{ item.title }}</h4>
                                        <a href="service-details.html">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="best-area pt-100 pb-70">
            <div class="best-shape">
                <img src="{{ asset('front/assets/images/best/best-shape1.png')}}" alt="Shape">
            </div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="best-img">
                            <img src="{{ asset('front/assets/images/best/best1.jpg')}}" alt="Best">
                            <img src="{{ asset('front/assets/images/best/best-bg.png')}}" alt="Shape">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-item">
                            <div class="section-title">
                            <h2>Why We Are The Best</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quas adipisci earum? Aspernatur accusantium sit perferendis! Aperiam cum ipsum nostrum iure autem porro quia, neque quis dicta maxime, aut quaerat</p>
                            </div>
                            <ul class="accordion">
                                {% for item in findEntitiesWithCriteria('App\\Entity\\Faq', null, {'published': '1','category' : '1'},'id', 'ASC') %}
                                    <li>
                                        <h3 class="faq-head">{{ item.question }}</h3>
                                        <div class="faq-content">
                                            <p> {{ item.answer }}</p>
                                        </div>
                                    </li>
                                {% endfor %}                    
                            </ul>
                            <a class="common-btn" href="index.html#">Know More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="services-area pb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Our Beauty Services</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quas adipisci earum? Aspernatur accusantium sit perferendis! Aperiam cum ipsum nostrum</p>
                </div>
                <div class="row">
                    {% for item in findEntitiesWithCriteria('App\\Entity\\Article', null, {'published': '1','type' : '2'},'id', 'ASC') %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="services-item">
                                <div class="inner">
                                    <img src="{{ item.Image.path ~ '/770x350_' ~ item.Image.name ~ '.webp' }}" alt="Services">
                                    <h3>
                                        <a href="service-details.html">{{ item.title }}</a>
                                    </h3>
                                    <p>{{ item.metadesc }}</p>
                                    <a class="services-btn" href="service-details.html">مشاهده بیشتر</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a class="common-btn" href="services.html">View All Services</a>
                </div>
            </div>
        </section>

        <div class="reviews-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9">
                        <div class="section-title">
                            <h2>Reviews From Our Clients</h2>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="reviews-shape">
                                <img src="{{ asset('front/assets/images/reviews/reviews-shape1.png') }}" alt="Shape">
                                <img src="{{ asset('front/assets/images/reviews/reviews-shape2.png') }}" alt="Shape">
                            </div>
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="review-content">
                                    <i class="bx bxs-quote-alt-right icon"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta voluptatem asperiores reiciendis odit eligendi, molestias voluptates aspernatur quis officiis! Excepturi quasi officiis</p>
                                    <h3>4.8</h3>
                                    <ul>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="review-content">
                                    <i class="bx bxs-quote-alt-right icon"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta voluptatem asperiores reiciendis odit eligendi, molestias voluptates aspernatur quis officiis! Excepturi quasi officiis</p>
                                    <h3>4.5</h3>
                                    <ul>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <div class="review-content">
                                    <i class="bx bxs-quote-alt-right icon"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta voluptatem asperiores reiciendis odit eligendi, molestias voluptates aspernatur quis officiis! Excepturi quasi officiis</p>
                                    <h3>4.6</h3>
                                    <ul>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                <div class="review-content">
                                    <i class="bx bxs-quote-alt-right icon"></i>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium soluta voluptatem asperiores reiciendis odit eligendi, molestias voluptates aspernatur quis officiis! Excepturi quasi officiis</p>
                                    <h3>4.2</h3>
                                    <ul>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                        <li><i class="bx bxs-star checked"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="index.html#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div class="reviews-img">
                                    <img src="{{ asset('front/assets/images/reviews/reviews1.jpg') }}" alt="Reviews">
                                    <h3>Angela</h3>
                                    <span>Model</span>
                                </div>
                            </a>
                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="index.html#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <div class="reviews-img">
                                    <img src="{{ asset('front/assets/images/reviews/reviews2.jpg') }}" alt="Reviews">
                                    <h3>Margaret</h3>
                                    <span>Model</span>
                                </div>
                            </a>
                            <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="index.html#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                <div class="reviews-img">
                                    <img src="{{ asset('front/assets/images/reviews/reviews3.jpg') }}" alt="Reviews">
                                    <h3>Lucy</h3>
                                    <span>Model</span>
                                </div>
                            </a>
                            <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="index.html#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <div class="reviews-img">
                                    <img src="{{ asset('front/assets/images/reviews/reviews4.jpg') }}" alt="Reviews">
                                    <h3>Henry</h3>
                                    <span>Model</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="get-area">
            <div class="container">
                <div class="get-content">
                    <div class="get-shape">
                        <img src="{{ asset('front/assets/images/get-shape1.png')}}" alt="Shape">
                        <img src="{{ asset('front/assets/images/get-shape2.png')}}" alt="Shape">
                    </div>
                    <div class="section-title">
                        <h2>It Needs Professional Hands To Get Rid Of Your Daily Stress Off</h2>
                    </div>
                    <a class="common-btn" href="appointment.html">Make An Appointment</a>
                </div>
            </div>
        </section>

        <section class="skin-area pt-100 pb-70">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="skin-content">
                            <div class="section-title">
                                <h2>Our New Skin Care Products For You</h2>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo</p>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here</p>
                            </div>
                            <a class="common-btn" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="skin-img">
                            <img src="{{ asset('front/assets/images/skin-main.jpg')}}" alt="Skin">
                            <img src="{{ asset('front/assets/images/skin-shape1.png')}}" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="video-area">
            <div class="video-shape">
            <img src="{{ asset('front/assets/images/video-shape1.png')}}" alt="Shape">
            </div>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid p-0">
                        <div class="video-item">
                            <div class="video-wrap">
                                <button class="js-modal-btn" data-video-id="OZYgGUvUf0E">
                                    <i class="bx bx-play"></i>
                                </button>
                            </div>
                            <h3>Watch How We Work</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="blog-area pt-100 pb-70">
            <div class="blog-shape">
                <img src="{{ asset('front/assets/images/blog/blog-shape1.png')}}" alt="Shape">
            </div>
            <div class="section-title">
                <h2>Some Latest Blog</h2>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    {% for item in findEntitiesWithCriteria('App\\Entity\\Article', null, {'published': '1','type' : '1'},'id', 'ASC') %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="blog-item">
                                <div class="top">
                                    <span>{{ item.cdate|localizeddatetr('custom', 'none', 'fa_IR@calendar=persian', 'Asia/Tehran', null) }}</span>
                                    <a href="blog-details.html">
                                        <img src="{{ item.Image.path ~ '/770x350_' ~ item.Image.name ~ '.webp' }}" alt="Blog">
                                    </a>
                                </div>
                                <div class="bottom">
                                    <h3>
                                        <a href="blog-details.html">{{ item.title }}</a>
                                    </h3>
                                    <p>{{ item.metadesc }}</p>
                                    <a class="blog-btn" href="blog-details.html">مشاهده بیشتر</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="instagram-area ptb-100">
        <div class="container-fluid">
        <div class="section-title">
        <h2>Follow Us On Instagram</h2>
        </div>
        <div class="instagram-slider owl-theme owl-carousel">
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram1.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram2.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram3.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram4.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram5.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram6.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        <div class="instagram-item">
        <img src="{{ asset('front/assets/images/instagram/instagram7.jpg')}}" alt="Instagram">
        <div class="inner">
        <a href="https://www.instagram.com/" target="_blank">
        <i class="bx bxl-instagram"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </section>
    {% endblock %}
    <footer class="footer-area pt-100 pb-70">
    <div class="footer-shape">
    <img src="{{ asset('front/assets/images/footer-shape1.png')}}" alt="Shape">
    </div>
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4">
    <div class="footer-item">
    <div class="footer-contact">
    <h3>Contact Info:</h3>
    <ul class="info">
    <li>
    <a href="index.html#">3 Edgar Buildings, George Street, BA1 2FJ</a>
    </li>
    <li>
    <span>Hotline:</span>
    <a href="tel:9645658765">964-565-8765</a>
    </li>
    <li>
    <span>Hotline:</span>
    <a href="tel:5464169576">546-416-9576</a>
    </li>
    <li>
    <span>Email:</span>
    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#8de5e8e1e1e2cde7e8e8e1a3eee2e0"><span class="__cf_email__" data-cfemail="d9b1bcb5b5b699b3bcbcb5f7bab6b4">[email&#160;protected]</span></a>
    </li>
    <li>
    <span>Email:</span>
    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#20494e464f604a45454c0e434f4d"><span class="__cf_email__" data-cfemail="a3cacdc5cce3c9c6c6cf8dc0ccce">[email&#160;protected]</span></a>
    </li>
    </ul>
    <ul class="social">
    <li>
    <a href="https://www.facebook.com/" target="_blank">
    <i class="bx bxl-facebook"></i>
    </a>
    </li>
    <li>
    <a href="https://www.twitter.com/" target="_blank">
    <i class="bx bxl-twitter"></i>
    </a>
    </li>
    <li>
    <a href="https://www.pinterest.com/" target="_blank">
    <i class="bx bxl-pinterest-alt"></i>
    </a>
    </li>
    <li>
    <a href="https://www.linkedin.com/" target="_blank">
    <i class="bx bxl-linkedin"></i>
    </a>
    </li>
    <li>
    <a href="https://www.youtube.com/" target="_blank">
    <i class="bx bxl-youtube"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4">
    <div class="footer-item">
    <div class="footer-img">
    <a href="index.html">
    <img src="{{ asset('front/assets/images/logo-two.png')}}" alt="Footer">
    </a>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-lg-4">
    <div class="footer-item">
    <h3>Open Hours:</h3>
    <div class="footer-hours">
    <div class="left">
    <ul>
    <li>Saturday:</li>
    <li>Sunday:</li>
    <li>Monday:</li>
    <li>Tuesday:</li>
    <li>Wednesday:</li>
    <li>Thursday:</li>
    </ul>
    </div>
    <div class="right">
    <ul>
    <li>
    08:00
    <span>23:00</span>
    </li>
    <li>
    08:00
    <span>23:00</span>
    </li>
    <li>
    08:00
    <span>21:00</span>
    </li>
    <li>
    09:00
    <span>23:00</span>
    </li>
    <li>
    09:00
    <span>23:00</span>
    </li>
    <li>
    09:00
    <span>23:00</span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>


    <div class="copyright-area">
    <div class="container">
    <div class="copyright-item">
    <p>Copyright @<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> Jeel. Designed By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
    </div>
    </div>
    </div>


    <div class="go-top">
    <i class="bx bxs-up-arrow-alt"></i>
    <i class="bx bxs-up-arrow-alt"></i>
    </div>


    <script src="{{ asset('front/assets/js/jquery.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/form-validator.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/contact-form-script.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.meanmenu.js')}}"></script>
    <script src="{{ asset('front/assets/js/wow.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery-modal-video.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/odometer.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.appear.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.actions.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.carousel.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.migration.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.navigation.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.parallax.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/extensions/revolution.extension.video.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ asset('front/assets/js/custom.js')}}"></script>
    </body>
</html>