{% extends 'base.html.twig' %}

{% block title %}WorkSchedule index{% endblock %}

{% block body %}
    <h1>WorkSchedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>IsAvailable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_schedule in work_schedules %}
            <tr>
                <td>{{ work_schedule.id }}</td>
                <td>{{ work_schedule.startTime ? work_schedule.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_schedule.endTime ? work_schedule.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_schedule.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_work_schedule_show', {'id': work_schedule.id}) }}">show</a>
                    <a href="{{ path('app_work_schedule_edit', {'id': work_schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_schedule_new') }}">Create new</a>
{% endblock %}
