{% extends 'base.html.twig' %}

{% block title %}WorkSchedule{% endblock %}

{% block body %}
    <h1>WorkSchedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work_schedule.id }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ work_schedule.startTime ? work_schedule.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ work_schedule.endTime ? work_schedule.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsAvailable</th>
                <td>{{ work_schedule.isAvailable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_work_schedule_index') }}">back to list</a>

    <a href="{{ path('app_work_schedule_edit', {'id': work_schedule.id}) }}">edit</a>

    {{ include('work_schedule/_delete_form.html.twig') }}
{% endblock %}
